/* Navbar CSS File */
.navbarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    /* width: 100%; */
}

.navbarWrapper::before {
    content: "";
    border: 3px solid black;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: .5;
    height: 80px;
    width: 100%;
}


.navTitle {
    /* color: rgb(0, 0, 167); */
    color: white;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 2%;
    text-align: center;
}