/* Navbar CSS File */
.navbarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    position: relative;
    /* width: 100%; */
}

.navbarWrapper::before {
    content: "";
    border: 3px solid black;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: .5;
    height: 80px;
    width: 100%;
}

.navTitle {
    color: white;
    font-size: 40px;
    margin-left: 20px;
    z-index: 1;
}